<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
    integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/slider.css" rel="stylesheet">
    <link href="/css/card.css" rel="stylesheet">

<!-- Custom Theme files -->
<link href="css/weatherstyle.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script> 
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->



   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<!-- this is a comment in HTML -->
	<div class="container">

		<div class="jumbotron">
  			<h1>Home</h1>
		</div>

    <nav class="nav">
      <div class="burger">
            <div class="burger__patty"></div>
      </div>

        <ul class="nav__list">
            <li class="nav__item">
                <a href="/homepage" class="nav__link c-purple"><i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav__item">
                <a href="/airport" class="nav__link c-blue"><i class="fa fa-plane" aria-hidden="false"></i></a>
            </li>
            <li class="nav__item">
                <a href="/school" class="nav__link c-yellow scrolly"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav__item">
                <a href="/home" class="nav__link c-red"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
            </li>
            <li class="nav__item">
                <a href="/about" class="nav__link c-green"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </li>
        </ul>
  </nav>
</div>


<!--appliance toggles-->
<div class = "container">
     <h1 class="card-title">Care to turn on/off some appliances?</h1>
    <div class ="card" style="width: 1/4">         
        <div class="card-block">
        <div class ="card-center">
            </br>
              <p>Hall Light</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
              <p>Bedside Light</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
               <p>Kitchen Light</p>
               <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
                </div>
            </div>
        </div>
     <div class ="card" style="width: 1/4">         
        <div class="card-block">
        <div class ="card-center">
            </br>
              <p>Television</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
              <p>Music System</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
               <p>Turntable</p>
               <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
                </div>
            </div>
        </div>
            <div class ="card" style="width: 1/4">         
        <div class="card-block">
        <div class ="card-center">
            </br>
              <p>Oven</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
              <p>Stove</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
               <p>Coffee Maker</p>
               <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
                </div>
            </div>
        </div>
    </div>

    <!--weather-->
    <div class = "container">
    <h1>Set thermostat based on weather</h1>
    <div class ="card" style="width: 1/4">         
        <div class="card-block">
        <div class ="card-center">
            </br>
              <p>60째</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
              <p>65째</p>
              <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
               <p>70째</p>
               <br>
               <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
                </label>
                <hr>
                </div>
            </div>
      </div>

    <!-- main -->
  <div class="main-agileits">
    <div class="main-wthree-row"> 
      <div class="agileinfo-text"> 
        <div class="date">
          <!-- Date-JavaScript -->
          <script type="text/javascript">
            var mydate=new Date()
            var year=mydate.getYear()
            if(year<1000)
            year+=1900
            var day=mydate.getDay()
            var month=mydate.getMonth()
            var daym=mydate.getDate()
            if(daym<10)
            daym="0"+daym
            var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
            var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
            document.write(""+dayarray[day]+" <br> "+daym+"  "+montharray[month]+"  "+year+"")
          </script>
          <!-- //Date-JavaScript -->
        </div>
        <h2>70<span>째</span></h2>
        <h4>San Diego</h4>
        <h6>Sunny</h6> 
      </div>
      </div>
    </div>  
  </div>
  </div>
  <!-- //main -->

       
           
           
      


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/vertnav.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    <!-- Nav Script-->
  </body>
</html>
