<!DOCTYPE html>
<html>
<head>
	<title>Personalizing your experience...</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhc8g7GgjXig6yXX4jqGOahy9zNHDPjG4&libraries=geometry,places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/location.js"></script>

<!-- 	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
 -->

</head>
<body>

<h2>Personalizing your app experience</h2>

<h4>Please wait</h4>

<div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>


</body>
</html>