<!DOCTYPE html>
<html ng-app="runkle">
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
 
  <!-- Bootstrap -->
  
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">

        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
     

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="css/materialize.css">

      <link rel="stylesheet" type="text/css" href="css/animate.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="css/login.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  		<script src="js/login.js"></script>



</head>

<body ng-controller="mainController">

<!--header-->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper cyan darken-2">
      <a class="brand-logo center animated fadeIn" style="font-weight: 200"><i class="material-icons animated slideInLeft">navigation</i>Info Hub</a>
    </div>
  </nav>
  </div>

  <div class="outer_Bounds blue-grey lighten-4">

    <div class="container valign-wrapper" id="newContainer">
 
<div class ="animated fadeInDown" id="vert_align" style="margin-left: 50px">
 	<div class="row">
        <div class="col s12">
          <h3 class="black-text center-align" style="font-weight: 200">Login below</h3>
        </div>
	</div>

   	<div class="row">
	   	<form>
	      	<div class="col s12 m5 card-panel grey darken-3">
			    <div class="row">
			        <div class="input-field col s12">
			          	<label for="email" class="white-text" id="email_input" style="font-weight: 200">Email</label>
			          	<input id="email" name="email" type="email" class="validate white-text form-control" ng-model="login.email">
			        </div>
			    </div>

			    <div class="row">
			        <div class="input-field col s12">
			          	<label for="password" class="white-text" id="password_input" style="font-weight: 200">Password</label>
			          	<input type="password" name="password" class="form-control" id="password" ng-model="login.password">
			        </div>
		      	</div>

		       	<div class="row center-align">
		            <button class="btn waves-effect waves-light cyan darken-2" id="button_submit" style="font-weight: 200" ng-click="onSubmit()">Login!<i class="material-icons right">send</i>
		          	</button>
		     	</div>

	      	</div>
	    </form>
    </div>


    <div>
    	<p>Need an account? <a href="/register">Register!</a>  </p>
    </div>
    	
</div>


    </div>
    </div>

  


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87462587-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
