<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
 
  <!-- Bootstrap -->
  
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">

        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
     

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="css/materialize.css">

      <link rel="stylesheet" type="text/css" href="css/animate.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="css/login.css">


</head>

<body>

<!--header-->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper cyan darken-2">
      <a class="brand-logo center animated fadeIn" style="font-weight: 200"><i class="material-icons animated slideInLeft">navigation</i>Info Hub</a>
    </div>
  </nav>
  </div>

  <div class="outer_Bounds blue-grey lighten-4">

    <div class="container valign-wrapper" id="newContainer">
 
<div class ="animated fadeInDown" id="vert_align">
 <div class="row">
        <div class="col s12">
          <h3 class="black-text center-align" style="font-weight: 200">Login below</h3>
        </div>
        </div>
   <div class="row">
   <form action="/login" method="post" class="col s12" onsubmit="return validateForm()">
      <div class="col s12 m5 card-panel grey darken-3">
       <div class="input-field col s6">
          <input id="first_name" name="first_name" type="text" class="validate white-text">
          <label for="first_name" class="white-text" id="first_input" style="font-weight: 200">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" name="last_name" type="text" class="validate white-text">
          <label for="last_name" class="white-text" id="last_input" style="font-weight: 200">Last Name</label>
        </div>

        <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate white-text">
          <label for="email" class="white-text" id="email_input" style="font-weight: 200">Email</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate white-text">
          <label for="password" class="white-text" id="password_input" style="font-weight: 200">Password</label>
        </div>
      </div>

       <div class="row center-align">
          <!-- <input type="submit"> -->
<!--           <button class="btn waves-effect waves-light cyan darken-2" id="button_submit" type="submit" formaction="/homepage" formmethod="get" name="action" style="font-weight: 200">Submit
 --> 
            <button class="btn waves-effect waves-light cyan darken-2" id="button_submit" style="font-weight: 200">Submit

            <i class="material-icons right">send</i>
          </button>

<!--           <button id="button_submit" >submit</button>
 -->      </div>

      </div>
      </form>
    </div>
    </div>
    </div>
    </div>

  



  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  

</body>
</html>
