<!DOCTYPE html>
<html ng-app="runkle">
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!--   <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
 -->  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
 
  <!-- Bootstrap -->
  
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">

        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
     

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="css/materialize.css">

      <link rel="stylesheet" type="text/css" href="css/animate.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="css/login.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhc8g7GgjXig6yXX4jqGOahy9zNHDPjG4&libraries=geometry,places"></script>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">

  		



</head>

<body ng-controller="mainController">

<!--header-->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper cyan darken-2">
      <a class="brand-logo center animated fadeIn" style="font-weight: 200; font-family: pacifico"><i class="material-icons animated slideInLeft">navigation</i>Info Hub</a>
    </div>
  </nav>
  </div>

  <div class="outer_Bounds" style="background-color:rgba(96, 125, 139,.3)">

    <div class="container valign-wrapper" id="newContainer">
 
<div class ="animated fadeInDown" id="vert_align">
<!-- <div class="row">
        <div class="col s12">
          <h3 class="black-text center-align" style="font-weight: 200">Login below</h3>
        </div>
        </div>
        -->
   <div class="row">
   <!-- <form action="/login" method="post" class="col s12" onsubmit="return validateForm()"> -->
   	<form>
      	<div class="col s12 m5 card-panel grey darken-3">
       		<div class="input-field col s6">
	          	<label for="first_name" class="white-text" id="first_input" style="font-weight: 200;">First Name</label>
	          	<input id="first_name" name="first_name" type="text" class="validate white-text form-control" ng-model="credentials.first_name">
        	</div>
	        <div class="input-field col s6">
	          	<label for="last_name" class="white-text" id="last_input" style="font-weight: 200">Last Name</label>
	          	<input id="last_name" name="last_name" type="text" class="validate white-text form-control" ng-model="credentials.last_name">
	        </div>
	    

		    <div class="row">
		        <div class="input-field col s12">
		          	<label for="email" class="white-text" id="email_input" style="font-weight: 200">Email</label>
		          	<input id="email" name="email" type="email" class="validate white-text form-control" ng-model="credentials.email">
		        </div>
		    </div>

		    <div class="row">
		        <div class="input-field col s12">
		          	<label for="password" class="white-text" id="password_input" style="font-weight: 200">Password</label>
		          	<input type="password" name="password" class="form-control" id="password" ng-model="credentials.password">
		        </div>
	      	</div>

	       	<div class="row center-align">
	            <button class="btn waves-effect waves-light cyan darken-2" id="button_submit" style="font-weight: 200" ng-click="onLogin()">Login!<i class="material-icons right">send</i>
	          	</button>
	     	</div>
      	</div>
    </form>


    </div>
    </div>
    </div>
        <div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>

    </div>

  


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87462587-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="js/login.js"></script>

</body>
</html>
