
.jumbotron {
	text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

#homepage {
	position: relative;
	left: 400px;
}


.bp-title {
	font-size: 20px;
	color: #7a7a7a;
}

.bp-deets {
	font-size: 25px;
	font-weight: bold;
}